body {
    background-color: rgb(160, 160, 255);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.loginContainer {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;

}