body {
    background-color: rgb(110, 45, 171);
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: wheat;
    text-align: center;
    height: auto;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .main-container {
        margin-left: 10%;
        margin-right: 10%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .main-container {
        margin-left: 5%;
        margin-right: 5%;
        padding: 10px;
    }
}
