body {
    background-color: rgb(215, 171, 255);
}

.verifyContainer {
    background-color: rgb(245, 222, 179);
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px ;
    text-align: center;
    margin: 40px 200px;
    
}