body {
    background-image: url(/logs/Day48/checked-property/pexels-earano-1683888.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23ffffffff'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='3.5' stroke='%23f6ad55ff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    font-size: 30px;
}

.subscribeContainer {
    user-select: none;
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    margin: 10px 200px;
    text-align: center;
}

.subscribeContainer:hover {
    background-color: rgb(177, 0, 0);
}

.btnGroup {
    margin: 10px;
    text-align: center;
    padding: 10px;
}

button {
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(179, 179, 179);
}