
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainer {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.title {
    margin-bottom: 10px;
}

.content {
    margin-bottom: 10px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


