body {
    background-color: lightcyan;
}

#main-title{
    text-align: center;
}

.main-container {
    
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.methodLength {
    background-color: aquamarine;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid black;
}