body {
    background-color: rgb(184, 222, 255);
}

.counterContainer {
    background-color: beige;
    text-align: center;
    border-radius: 15px;
    margin: 30px 100px;
}

#countLabel {
    font-size: 60px;
}

button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    transition: ease-in-out .3s;
}

button:hover {
    padding: 12px;
    transition: ease-in-out .3s;
}

.btnGroup{
    padding: 10px;
}

#decreaseBtn {
    background-color: lightcoral;
}

#resetBtn {
    background-color: lightsalmon;
}

#increaseBtn {
    background-color: lightgreen;
}

#decreaseBtn:hover {
    background-color: rgb(187, 100, 100);
}

#resetBtn:hover {
    background-color: rgb(185, 117, 89);
}

#increaseBtn:hover {
    background-color: rgb(108, 176, 108);
}