body {
    background-color: rgb(235, 207, 173);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
}

.mainContainer {
    background-color: rgb(240, 255, 255);
    padding: 15px;
    border-radius: 15px;
}