body {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='88' patternTransform='scale(3) rotate(145)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(230,13%,91%,1)'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='2' stroke='hsla(228,12.5%,84.3%,1)' fill='none'/><path d='M-20.133 24.568C-13.178 24.932-6.452 27.376 0 30c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='2' stroke='hsla(0,0%,68.6%,1)' fill='none'/><path d='M-20.133 44.568C-13.178 44.932-6.452 47.376 0 50c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='2' stroke='hsla(240,16.7%,97.6%,1)' fill='none'/><path d='M-20.133 64.568C-13.178 64.932-6.452 67.376 0 70c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='2' stroke='hsla(231,12.5%,78%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-33,-474)' fill='url(%23a)'/></svg>");
    
}

.tutorial {
    background-color: rgb(198, 255, 236);
    padding: 5px;
}

.box-code {
    background-color: lightgreen;
}

.box {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px solid rgb(255, 213, 107);
    border-radius: 10px;
    transition: .5s ease;
    margin-left: 10%;
}

.b1 {
    background-color: aquamarine;
}

.b1:hover {
    background-color: aquamarine;
    box-shadow: 5px 5px 10px rgb(255, 0, 0);
}

.b2 {
    background-color: rgb(255, 179, 255);
}

.b2:hover {
    background-color: rgb(255, 179, 255);
    box-shadow: 0px 5px 100px rgb(255, 230, 0);
}

.b3 {
    background-color: lightblue;
}

.b3:hover {
    background-color: lightblue;
    box-shadow: -5px -5px 25px rgb(0, 0, 255);
}

.b4 {
    background-color: lightgreen;
}

.b4:hover {
    background-color: lightgreen;
    box-shadow: 0px 5px 25px rgb(0, 255, 0);
}

.b5 {
    background-color: rgb(255, 146, 146);
}

.main-container{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
}

.text {
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.5s ease;
    margin-top: 50px;
}

.t1 {
    color: red;
    background-color: lightcyan;
}

.t1:hover {
    background-color: lightcyan;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.t2 {
    color: blue;
    background-color: lightyellow;
}

.t2:hover {
    background-color: lightyellow;
    text-shadow: 0px 10px 20px;
}

.t3 {
    color: green;
    background-color: lightgray;
}

.t3:hover {
    background-color: lightgray;
    text-shadow: -10px 10px 10px rgb(255, 245, 138);
}

.t4 {
    color: rgb(90, 0, 90);
    background-color: lightpink;
}

.t4:hover {
    background-color: lightpink;
    text-shadow: 0px 0px 5px yellow, 0px -5px 5px red;
}

.t5 {
    color: purple;
    background-color: lightblue;
}

.t5:hover {
    background-color: lightblue;
    text-shadow: -10px 0px 5px yellow, 10px 0px 5px red;
}